.projects {
    height:100vh;
    padding-top: 5rem;
    width:100%;
}

.projects_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.projects h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.projects_subtitle {
    color: grey;
}