.home_main {
    display:flex;
    height: 100vh;
    padding-top: 5rem;
}

.social {
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social ul li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.social ul li a {
    color:black;
}

.main_container {
    display: flex;
    width:85%;
    justify-content: center;
    align-items: center;
}

.profile_info {
    width:40%;
}

.each_profile_info {
    margin-bottom: 2rem;
    /* font-size: rem; */
}

.profile_name {
    font-size: 3rem;
}

.profile_title {
    font-size: 1.3rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.profile_title::before {
    content:'';
    width:60px;
    height:1px;
    background-color: grey;
    display: flex;
    margin-right: 10px;
}

.profile_description {
    max-width: 480px;
}

.picture_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:40%; */
    /* background-color: red; */
    width: 60%;
    height: 100%;
}

.profile_picture {
    height: auto;
    width: 30vw;
}

@media screen and (width < 700px) {
    .main_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
    }
    .profile_name {
        width: 180%;
        /* background-color: red; */
    }
    .profile_picture {
        width:300px;
        height: auto;
    }
    .profile_name{
        text-align: center;
        display: flex;
        justify-content: right;
        width: 140%;
    }
    .profile_title {
        display: flex;
        text-align: center;
    }
    .profile_description {
        text-align: center;
        display: flex;
        justify-content: right;
        width: 140%;
    }
}